upstream mailu.front {
  	server mailu-front:80;
}

server {
	listen 80;
    listen [::]:80;

	server_name 	{{ mailserver_hostname }}.{{ app_domain }};

    error_log 		/var/log/nginx/error.log;
    access_log 		/var/log/nginx/access.log;

	location /{
		proxy_pass http://mailu.front/;
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	}

	{% if app_backend == false %}
	{% include 'mailservices_loc.conf.j2' %}
	{% endif %}

    location ~ /\.ht {
        deny all;
    }

    location /.well-known/acme-challenge/ {
    	root /var/www/certbot;
        log_not_found off;
    }

}