server {
    listen 80;

	{% if nginx_ssl %}
    listen 443 ssl;
	ssl_certificate /etc/letsencrypt/live/{{ cert_domain }}/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/{{ cert_domain }}/privkey.pem;
	{% endif %}

	server_name 	{{ mailserver_hostname }}.{{ app_domain }};

	{% if nginx_ssl %}
	include /etc/letsencrypt/options-ssl-nginx.conf;
	ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
	{% endif %}

    error_log 		/var/log/nginx/error.log;
    access_log 		/var/log/nginx/access.log;

	{% if app_backend == false %}
	{% include 'mailservices_loc.conf.j2' %}
	{% endif %}

    location ~ /\.ht {
        deny all;
    }

    location /.well-known/acme-challenge/ {
    	root /var/www/certbot;
        log_not_found off;
    }
}