{% if app_install_database or app_install_mailserver %}
upstream app.phpmyadmin {
  	server phpmyadmin:80;
}
{% endif %}
upstream php-upstream {
  	server php-fpm:9000;
}

{% if app_install_mailserver %}
# upstream mail.mailserver {
#   	server mailserver:11334;
# }
# upstream mail.webmail {
#   	server rainloop:8888;
# }
{% endif %}

map $http_x_forwarded_proto $fastcgi_param_https {
    default '';
    https 'on';
}

server {
    listen 80 default_server;
	listen [::]:80;

	{% if nginx_ssl %}
    listen 443 ssl;
	ssl_certificate /etc/letsencrypt/live/{{ cert_domain }}/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/{{ cert_domain }}/privkey.pem;
	{% endif %}

	server_name {% for subdomain in app_subdomains %} {% if subdomain != '' %}{{ subdomain }}.{% endif %}{{ app_domain }} {% endfor %};

    root {{ app_code_path_container }}/{{ app_code_dir }};

    # add_header X-Frame-Options "SAMEORIGIN";
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Content-Type-Options "nosniff";

    index index.html index.htm index.php;

	{% if nginx_ssl %}
	include /etc/letsencrypt/options-ssl-nginx.conf;
	ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
	{% endif %}

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }

    error_page 404 /index.php;
	error_log /var/log/nginx/error.log;

    charset utf-8;

    location / {
        try_files $uri $uri/ /index.php?$query_string;

		location ~ \.php$ {
        	fastcgi_pass php-upstream;
			fastcgi_index index.php;
			include fastcgi_params;
			fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
			fastcgi_param HTTPS $fastcgi_param_https;
		}
    }

	{% if (app_install_database or app_install_mailserver) and not app_backend %}
	location /phpmyadmin/ {
        proxy_pass http://app.phpmyadmin/;
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	}
	location /phpMyAdmin {
			rewrite ^/* /phpmyadmin last;
	}
	{% endif %}


    location ~ /\.ht {
        deny all;
    }

    location /.well-known/acme-challenge/ {
    	root /var/www/certbot;
        log_not_found off;
    }
}
